astroid==3.3.9
colorama==0.4.6
delegator.py==0.1.1
dill==0.3.9
enzyme==0.5.2
isort==6.0.1
lazy-object-proxy==1.10.0
mccabe==0.7.0
pexpect==4.9.0
platformdirs==4.3.7
ptyprocess==0.7.0
pylint==3.3.6
pymediainfo==7.0.1
termcolor==3.0.1
tomli==2.2.1
typing_extensions==4.13.2
wrapt==1.17.2
